<?xml version="1.0"?>
<launch>
    <include file="$(find assignment_2_2024)/launch/assignment1_b.launch" />
    
    <node pkg="assignment_2" type="action_client.py" name="action_client_node" output="screen" />
    
    <node pkg="assignment_2" type="Last_target_service.py" name="Last_target_service" output="screen" />
    
   
</launch>

